* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
body{
    background-color: #edf4f4;
}
a:-webkit-any-link {
    color: #edf4f4;
    text-decoration: none;
}

header {
    position: fixed;
    background-color: black;
    height: 70px;
    width: max-content;
    border-bottom: 3px solid #87d9ff;
}
header div.topnavbar{
    width: 100vw;
    height: 100%;
    display: grid; 
    grid-template-columns: 45px 11% 11% 11% 11% 11% 11% 11% 13%; 
    grid-template-rows: 50% 50%; 
    gap: 0px 0px; 
    grid-template-areas: 
      "logo snowstorm snowstorm snowstorm . . . shopid shopid"
      "logo navbar navbar navbar navbar navbar navbar research research"; 
}
header a.logo { 
    grid-area: logo; 
    display: flex;
    max-height: 40px;
    margin-top: 5px;
    margin-left: 5px;
}
.logoimg{
    height: 40px;
}
.research { 
    grid-area: research; 
}
div.research form {
    display: flex;
    
}
div.research input {
    border-radius: 100px;
    padding-left: 6px;
    padding-right: 20px;
    width: 100%;
    height: 20px;
    font-size: 15px;
    border: 1px solid #000000;
    background-color: #edf4f4;
}
div.research button {
    margin-top: 2px;
    height: 16px;
    border: 0px;
    background-color: #edf4f4;
    position: relative;
    right: 20px;
}
div.research input:focus-visible {
    border: 1px solid #87d9ff;
    outline: #000000 1px ;
}

.snowstorm { grid-area: snowstorm; }
.shopid { grid-area: shopid; }



div.navbar {
    grid-area: navbar;
    max-height: 100%;
    max-width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}
div.navbar p {
    text-decoration: none;
    font-family: 'bebas neue';
    color: #edf4f4;
    font-size: 20px;
    margin-left: 5px;
    margin-bottom: 2px;
}
div.navbar p:hover {
    color: #87d9ff;
}



div.pagemain {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 1230px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
}
h1.pagetitle {
    margin: 90px auto;
}
div.keyboard-target-color {
    display: flex;
    width: 100%;
    background-color: #edf4f5;
    padding: 0px 20px 20px;
}
div.keyboard-target-color div.keyB-target {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    flex: 0 0 auto;
}
div.keyboard-target-color div.keyB-color {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
#tgl-key-caps {
    padding: 10px;
}
#tgl-key-text {
    padding: 7px;
    font-size: 25px;
    text-align: center;
}

div.tgl-button {
    border: 1px solid #9c9797;
    z-index: 3;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
div.color-option {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 0px;
}
div.tgl-color {
    height: 30px;
    width: 30px;
    max-width: initial;
    border: 1px solid #d5d5d5;
    z-index: 1;
}
div.tgl-color.active,#tgl-key-caps.active,#tgl-key-text.active{
    outline: 4px solid #000000;
    z-index: 2;
}
div.customizer-keyboard {
    width: 100%;
}